<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.houttuynia.web.system.mapper.SysMenuMapper">

    <resultMap id="BaseResultMap" type="com.houttuynia.web.system.domain.SysMenuDO">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
        <result property="menuUrl" column="menu_url" jdbcType="VARCHAR"/>
        <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
        <result property="menuNum" column="menu_num" jdbcType="INTEGER"/>
        <result property="menuIcon" column="menu_icon" jdbcType="VARCHAR"/>
        <result property="openType" column="open_type" jdbcType="INTEGER"/>
        <result property="buttonConf" column="button_conf" jdbcType="VARCHAR"/>
        <result property="queryConf" column="query_conf" jdbcType="VARCHAR"/>
        <result property="fieldConf" column="field_conf" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,menu_url,
        menu_name,menu_num,menu_icon,
        open_type,button_conf,query_conf,
        field_conf,description,create_time,
        update_time,create_by,update_by,
        del_flag
    </sql>
    <select id="getDtoById" resultType="com.houttuynia.web.system.dto.MenuDetailsDto"
            parameterType="java.lang.String">
        select *, b.menu_name as parentName
        from sys_menu a
                 left join sys_menu b on a.parent_id = b.id
        where a.id = #{id}
    </select>
</mapper>
