<head th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Houttuynia Boot</title>
    <link rel="stylesheet" type="text/css" href="/static/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="/static/vendors/base/vendor.bundle.base.css">
    <link rel="stylesheet" type="text/css" href="/static/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
    <link href="/static/css/font-awesome.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <script src="/static/js/jquery/jquery-1.12.2.min.js"></script>
    <script src="/static/js/jquery/jquery.validate.js"></script>
    <script src="/static/js/bcrypt.js"></script>
    <script src="/static/js/jquery/jquery.validate.extend.js"></script>
    <script src="/static/layui/layui.js"></script>
    <script src="/static/js/CommUtils.js"></script>
    <script src="/static/js/base.js"></script>
    <script src="/static/js/common.js"></script>

</head>

<div th:fragment="footerJs">
    <script th:inline="javascript">
        layui.use(function () {
            const layer = layui.layer;
        });
    </script>
</div>
