<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Houttuynia Boot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link href="/static/iconfont/style.css" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/favicon.ico">
</head>
<body class="skin-blue sidebar-mini">
</body>
</html>